/* * {
	background-color: #d59ea5; 
	border: 1px solid #00f;
} */


@font-face {
	font-family: 'Gilroy';
	font-weight: 700;
	src: url('/device/fonts/web/gilroyextrabold.woff') format('woff'),
		 url('/device/fonts/web/gilroyextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 400;
	src: url('/device/fonts/web/gilroylight.woff') format('woff'),
		 url('/device/fonts/web/gilroylight.woff2') format('woff2');
}


body {
	position: relative;

	min-width: 1200px;
	min-height: 100vh;

	font-family: 'Gilroy', sans-serif;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 30px;
	font-weight: 300;

	background-color: #fff;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */

	opacity: 0;
	animation: fade-in .4s forwards;
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

a {
	text-decoration: none;
  }

  .container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
  }

.main-header {
	display: flex;
  flex-direction: column;
	
	background-color: rgba(240, 197, 46, 0.5);
	margin-top: 40px;
	margin-left: 140px;
	margin-right: 140px;
}

h1 {
	text-transform: uppercase;
	font-size: 48px;
}

.logo-header {
	margin-left: 50px;
	transform: translate(0, -40px);
}




.navigation {
	display: flex;
	justify-content: space-between;
	
	margin-left: 50px;
	padding-bottom: 50px;

}

li {
	list-style-type: none;
}


.search-navigation {
	display: flex;
	flex-basis: 50%;

	position: relative;  
	width: 441px;
	white-space: nowrap;
  }
  
.search-navigation input {
	height: 34px;
	width: 356px;
	margin: 0;
	padding-top: 2px;
	padding-left: 39px;
	padding-bottom: 11px;
	border: 0;
  
	font-family: "Gilroy", Tahoma, sans-serif;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 36px;
	font-weight: 300;
	opacity: 0.3;
	border-bottom: 2px solid transparent;
	background-color: transparent;
  }
  
.search-navigation::before {
	content: "";
  
	position: absolute;
	top: 12px;
	left: 3px;
  
	width: 16px;
	height: 16px;
  
	background-image: url("../device/device/svg/search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
  }
  
.search-navigation input:hover {
	opacity: 0.6;
	border-bottom: 2px solid transparent;
  }
  
.search-navigation input:focus,
.search-navigation input:active {
	opacity: 1;
	border-bottom: 2px solid #000000;
	outline: none;
  }
  
.search-navigation-input:focus + .search {
	display: block;
  }
  
.navigation button {
	display: none;
  
	height: 49px;  
	width: 85px;
	padding: 0;
	margin: 0;
	border: 2px solid #000000;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
  }
  
.navigation button:hover,
.navigation button:focus {
		display: block;
  
		color: #ffffff;
		background-color: #000000;
		outline: none;
  }
  
.navigation button:active {
	display: block;
  
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
	outline: none;
  }
  


.user-navigation {
  display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
	flex-basis: 50%;
	/* width: 500px; */
	margin: 0;
	padding: 0;
	line-height: 36px;
}


.user-navigation .login {
	margin-right: 10px;
}



.user-navigation .compare {
	margin-left: auto;
	margin-right: 40px;
}



.user-navigation .cart,
.site-navigation .contact {
	margin-right: 60px;
}

.compare-link:hover,
.cart-link:hover,
.login-link:hover,
.profile-link:hover,
.compare-link:focus,
.cart-link:focus,
.login-link:focus,
.profile-link:focus {
  opacity: 0.6;
  cursor: pointer;
}

.compare-link:active,
.cart-link:active,
.login-link:active,
.profile-link:active {
  opacity: 0.3;
}

.main-navigation {
	margin-bottom: 160px;
	margin-left: 60px;

	font-size: 18px;
	letter-spacing: 0.2em;
	line-height: normal;
	font-weight: 800;
	text-transform: uppercase;
  }
  
.main-navigation li {
	white-space: nowrap;
}
  
.site-navigation {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
}
  

.catalog {
	position: relative;
	flex-basis: 38%;
}

  
 
.site-navigation .drop-menu {
	position: absolute;
	z-index: 3;
  
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: flex-start;

  left: -60px;
	width: 1600px;
	height: 135px;
  
	margin: 0;
	padding: 0;
	padding-top: 25px;
	background: #f7e296;
  
	font-family: "Open Sans", Tahoma, sans-serif;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 36px;
	font-weight: 300; 
}
  
.smart-watch {
	margin-bottom: 40px;
}
  
.drop-menu li {
	margin-left: 60px;
}

.drop-menu a {
	display: flex;
	letter-spacing: normal;
	text-transform: none;
}
  
.catalog:hover .drop-menu {
	display: flex;
}
  
.search-navigation,
.site-navigation,
.user-navigation,
.drop-menu {
	list-style: none;
}
  
.site-navigation a,
.user-navigation a,
.drop-menu a {
	display: block;
	color: #000000;
 }
  
.site-navigation a:hover,
.search-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus  {
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
 }
  
 .site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}
  
.search-navigation a:focus {
	color: rgba(0, 0, 0, 1);
}


.slide b {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
}

.slider-text p,
.info p,
.company p {
  font: inherit;
}

.slider {
	display: flex;
	flex-direction: row-reverse;
	transform: translate(-180px, -120px);
}

.slide {
  display: none;
  margin: 0;
  padding: 0;
}


.slide-wrapper {
  display: flex;

  /* width: 1160px; */
  margin: 0;
  padding: 0;
}

.slide-wrapper a {
	user-select: none;  
	cursor: pointer; 
}



.slider-text {
  display: block;
  order: 2;
  width: 743px;
  padding: 0;
	transform: translate(0, 87px);
	margin-bottom: 120px;
}

.slider-text p {
  margin-top: 23px;
  margin-right: 65px;
  margin-bottom: 45px;
}

.slide img {
	 order: 1;

}
.slide-wrapper img{
	transform: translate(-58px, 39px);
	margin-right: auto;
}

.slide-third img {
	width: 600px;
	height: 400px;
}

.slider-title {
  position: relative;
  z-index: 2;
}


.number {
  position: absolute;
	transform: translate(0, -150px);
  right: 10px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
}

.navigation-slider {
	display: flex;
	
  position: absolute;
  top: 328px;
  right: 60px;
  margin: 0;
}

.navigation-slider label {
  display: inline-block;

  width: 25px;
  height: 25px;
  margin-right: 22px;

  vertical-align: top;
  background-image: url("../device/device/svg/radio-off.svg");
  cursor: pointer;
}


.stroke {
  display: flex;
	flex-direction: column-reverse;

  margin: 0;
  padding: 0;
  margin-right: 78px;
}

.stroke2 {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 300;
  color: #000000;
}

.slider-text .button {
  width: 210px;
  margin: 0;
  margin-bottom: 52px;
}

.button {
  position: relative;
  display: inline-block;
  z-index: 1;

  padding: 9px 5px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

	text-decoration: none;
	cursor: pointer;
}

.button::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);

  height: 8px;
  background-color: #f0c52e;

	transition: height 0.3s ease-in-out;
	cursor: pointer;
}

.button:hover::after,
.button:focus::after {
  height: 100%;
}

.button:active {
  display: inline-block;

  color: rgba(0, 0, 0, 0.3);
}

.table-slide tbody {
  display: flex;
  margin: 0;
  padding: 0;
}

#product-1:checked ~ .container #slide1,
#product-2:checked ~ .container #slide2,
#product-3:checked ~ .container #slide3 {
  display: flex;
}

#product-1:checked ~ .container label[for="product-1"],
#product-2:checked ~ .container label[for="product-2"],
#product-3:checked ~ .container label[for="product-3"] {
  background-image: url("../device/device/svg/radio-on.svg");
}
.main-index {
	margin-bottom: 150px;
}
.main-index input {
  display: none;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: 115px;
}

.populars {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 90px;
	width: 185px;
	height: 185px;
	background-color: rgba(240, 197, 46, 0.5);
}

.mm {
	display: flex;
	flex-direction:column;
}

.populars:hover,
.populars:focus {
	background-color: #f0c52e;
	cursor: pointer;
}

.populars:active {
	background-color: rgba(240, 197, 46, 0.5);
  opacity: 0.5;
}

.info {
	max-width: 100%;
	position: relative;
	min-height: 288px;
	margin-top: 84px;
	margin-bottom: 95px;
	padding: 0;
	background-color: #e5e5e5;
}

.info-block {
	display: flex;
	/* flex-wrap: wrap; */
}

.info-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.info-navigation {
	display: flex;	
	flex-direction: column;

	margin-left: 150px;
	transform: translate(0, -20px);
}

.info-about-us {
  display: none;
	transform: translate(0, -30px);

  margin-left: 250px; 
}


.info-navigation label {
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 27px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.visually-hidden {
	display: none;
} 

#info-button-1:checked ~ .container #delivery,
#info-button-2:checked ~ .container #warranty,
#info-button-3:checked ~ .container #credit {
	display: block;
}

#info-button-1:checked ~ .container  label[for="info-button-1"],
#info-button-2:checked ~ .container  label[for="info-button-2"],
#info-button-3:checked ~ .container  label[for="info-button-3"] {
  color: #f7e184;
}

#info-button-1:checked ~ .container label[for=info-button-1]::after,
#info-button-2:checked ~ .container label[for=info-button-2]::after,
#info-button-3:checked ~ .container label[for=info-button-3]::after {
  top: 50%;
  width: 280px;
  height: 100%;
  background-color: #000000;
}

.info-navigation::before {
  content: "";

  position: absolute;
  top: -80px;
  left: 277px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.info-about {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  color: #000000;
}

.info-about-us p,
.company p,
.contacts p {
  font-size: 18px;
}

.delivery-icon {
	background-image: url("../device/device/svg/delivery.svg");
		
  position: absolute;
  top: 13px;
  left: 558px;
  width: 136px;
  height: 164px;

}

 .warranty-icon {
  position: absolute;
  top:-7px;
  left: 580px;
  width: 171px;
  height: 195px;
  background-image: url("../device/device/svg/warranty.svg");
}

.credit-icon {
  position: absolute;
  top:-7px;
  left: 534px;
  width: 156px;
  height: 188px;
  background-image: url("../device/device/svg/credit.svg");
} 


.logo-list {
	display: flex;
	justify-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 80px;
	margin-bottom: 90px;
}

.logo-list-li {
	filter: grayscale(100%); 
	opacity: 0.2;
}

.logo-list-li:hover {
	filter: grayscale(0); 
	opacity: 1;
	cursor: pointer;
}

.company {
	display: flex;
	justify-content: space-around;
	
	margin-left: 40px;
	margin-bottom: 100px;
}

.line::before {
	content: "";
	position: absolute;
	transform: translate(0, -40px);
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.about-us {
	display: flex;
	flex-direction: column;
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-right: 90px;
}

.about-us-title,
.contacts-title {
	margin: 0;
	margin-bottom: 26px;
	font-family: "Gilroy", Tahoma, sans-serif;
	font-size: 47px;
	letter-spacing: 0.01em;
	line-height: normal;
	font-weight: 800;
	color: #000000;
}

.transport {
	padding-left: 35px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

.about-us-button,
.write-us {
  max-width: 260px;
  cursor: pointer;
}

.transport,
.button-map {
	margin-bottom: 50px;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	position: relative;
	max-width: 100%;
	min-height: 288px;
	padding: 0;
	background-color: #464646;
}


.footer-address {
	display: flex;
	flex-direction: column;
}

.logo-dev {
	color: #ffc600;
}

.main-footer p {
	color: #fff;
}

.main-footer .line::before {
	transform: translate(0, 40px);
	background-color: #ffc600;
}